body{
    background-color: rgb(54,54,54);
    color: whitesmoke; 
    font-family: Roboto_Mono;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    /*as ediçoes sao feitas por div*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 25px

}

h1{
    /*defone espessura da fonte*/
    font-weight: 300;
}




aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

